<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="net.sf.eclipsensis.launch.nsisLaunchConfigType">
<intAttribute key="compressor" value="0"/>
<booleanAttribute key="hdrInfo" value="false"/>
<listAttribute key="instructions"/>
<booleanAttribute key="license" value="false"/>
<booleanAttribute key="noCD" value="false"/>
<booleanAttribute key="noConfig" value="false"/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/NSIS-Groovy/setup.nsi"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="pluginVersion" value="0.9.7.2"/>
<intAttribute key="processPriority" value="-1"/>
<booleanAttribute key="runInstaller" value="false"/>
<stringAttribute key="script" value="${workspace_loc:/NSIS-Groovy/setup.nsi}"/>
<booleanAttribute key="solidCompression" value="false"/>
<listAttribute key="symbols">
<listEntry value="SOURCE_VERSION­1.7.0-RC2"/>
<listEntry value="DIR_PREFIX­D:\NSIS\NSIS-Groovy\Data\1.7\RC-2"/>
<listEntry value="SOURCE_DIR­groovy-1.7-RC-2"/>
<listEntry value="DOC_DIR­groovy-docs-1.7-RC-2"/>
<listEntry value="SCRIPTOM_DIR­scriptom-all-assembly-1.6.0"/>
<listEntry value="GANT_DIR­gant-1.9.0-SNAPSHOT"/>
<listEntry value="VERSION_TXT­installed_versions.txt"/>
<listEntry value="GRIFFON_B­builders"/>
<listEntry value="NATIVE_DIR­native"/>
<listEntry value="JAVA_ARCH­D:\NSIS\NSIS-Groovy\Java"/>
<listEntry value="GAELYK_DIR­Gaelyk"/>
</listAttribute>
<intAttribute key="verbosity" value="-1"/>
</launchConfiguration>
